<h1>Movies List</h1>

<%=form_tag movies_path, :method => 'get' do %>
  <%=collection_check_boxes(:genre, :ids, Genre.order(:name), :id, :name, {multiple: true, checked: @select_genre} )%>
  <%=submit_tag "Search", :style => "float:left;"%>
<%end %>

<table>
  <thead>
  <td>title</td>
  <td>blurb</td>
  <td>genre</td
  <td>date released</td>
  <td>country of origin</td>
  <td>showing start</td>
  <td>showing end</td>
  <td>user</td>
  </thead>
  <% @movies.each do |movie| %>
    <tr>
      <td><%= movie.title %></td>
      <td><%= movie.blurb %></td>
      <td><%= movie.genres.pluck(:name).join(',') %></td>
      <td><%= movie.date_released %></td>
      <td><%= movie.country_of_origin %></td>
      <td><%= movie.showing_start %></td>
      <td><%= movie.showing_end %></td>
      <td><%= movie.user&.username %></td>
    </tr>
  <% end %>
</table>

<%= paginate @movies %>
