<h1>show post id: <%= @movie.id %></h1>
<ul>
  <li><%= @movie.title %></li>
  <li><%= @movie.blurb %></li>
  <li><%= @movie.date_released %></li>
  <li><%= @movie.country_of_origin %></li>
  <li><%= @movie.showing_start %></li>
  <li><%= @movie.showing_end %></li>
  <li><%= @movie.user&.username %></li>
</ul>